body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #fffffc;
  padding: 1rem;
  margin: 2rem;
}

h1 {
  text-emphasis: bold;
}

div {
  padding: 1rem;
  /* margin: 2rem; */
}

div.header {
  padding: 1rem;
}
